node_modules/
.DS_Store
.env
temp/
*.zip
*.tar.gz

# Foundry VTT LevelDB Packs
packs/**/LOCK
packs/**/*.log
packs/**/MANIFEST-*
packs/**/LOG
packs/**/LOG.old
packs/**/CURRENT
packs/**/*.dbtmp
packs/**/*.ldb
