<section class='tab {{tabs.attacks.cssClass}} {{tabs.attacks.id}}' data-tab='{{tabs.attacks.id}}'
    data-group='{{tabs.attacks.group}}'>
    <div class="feature-section">
        {{> 'daggerheart.inventory-items'
        title='DAGGERHEART.GENERAL.Tabs.attack'
        type='feature'
        collection=segmentAttacks
        hideContextMenu=true
        canCreate=true
        showActions=true
        }}
    </div>
</section>