<header class="sheet-header flexrow">
    <img class="profile-img" src="{{document.img}}" data-action="editImage" title="{{document.name}}" height="64" width="64"/>
    <div class="header-details flexcol">
        <h1 class="charname">
            <input name="name" type="text" value="{{document.name}}" placeholder="Name"/>
        </h1>
        <div class="item-subtitle">
            <span class="type-label">{{localize "fb-cod.ChainGroup.Label"}}</span>
        </div>
    </div>
</header>
